.container {
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.projectText {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  font-size: 0.5rem;
}

.projectTitles {
  padding-left: 1rem;
  font-size: 4rem;
  -webkit-animation: title 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: title 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.projectImages img {
  width: 100%;
}

.description {
  padding-left: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 0.5rem;
  letter-spacing: 2px;
  -webkit-animation: aboutMeBox 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: aboutMeBox 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.links {
  width: 80%;
  border-right: 5px solid #000000;
}

.links h3 {
  color: rgb(0, 0, 0);
  transition: all 0.3s;
  text-decoration: none;
  padding-left: 2rem;
  font-size: 2rem;
}

.links h3 :hover {
  color: cornsilk;
}

@-webkit-keyframes title {
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  0% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes title {
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  0% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@-webkit-keyframes aboutMeBox {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes aboutMeBox {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
}
