.projectImages {
  height: auto;
  width: 400px;
  position: absolute;
  left: 650px;
  top: 220px;
}
.projectText {
  font-size: 3rem;
  position: absolute;
  left: 650px;
  top: 420px;
}

.projectTitles {
  font-size: 3rem;
  position: absolute;
  left: 650px;
  top: 120px;
}

.aurora {
  color: rgb(241, 241, 234);
  transition: all 0.3s;
  position: relative;
  left: 100px;
  top: 100px;
  text-decoration: none;
  font-size: 3rem;
}
.aurora span {
  transition: all 0.3s;
}
.aurora::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 17%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.aurora:hover span {
  letter-spacing: 2px;
}
.aurora:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.aurora::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 17%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.aurora:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
.karaoke {
  color: rgb(241, 241, 234);
  transition: all 0.3s;
  position: relative;
  left: 100px;
  top: 100px;
  text-decoration: none;
  font-size: 3rem;
}
.karaoke span {
  transition: all 0.3s;
}
.karaoke::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 23%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.karaoke:hover span {
  letter-spacing: 2px;
}
.karaoke:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.karaoke::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 23%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.karaoke:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
.chatable {
  color: rgb(241, 241, 234);
  transition: all 0.3s;
  position: relative;
  left: 100px;
  top: 100px;
  text-decoration: none;
  font-size: 3rem;
}
.chatable span {
  transition: all 0.3s;
}
.chatable::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.chatable:hover span {
  letter-spacing: 2px;
}
.chatable:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.chatable::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.chatable:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.bloom {
  color: rgb(241, 241, 234);
  transition: all 0.3s;
  position: relative;
  left: 100px;
  top: 100px;
  text-decoration: none;
  font-size: 3rem;
}
.bloom span {
  transition: all 0.3s;
}
.bloom::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 21%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}
.bloom:hover span {
  letter-spacing: 2px;
}
.bloom:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.bloom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 21%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}
.bloom:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}
