.container {
  position: absolute;
  margin: 0;
}
circle {
  fill: coral;
  stroke: black;
  stroke-width: 3;
}

circle active {
  fill: coral;
  stroke: black;
  stroke-width: 3;
  pointer-events: none;
}

.lastCircle {
  fill: burlywood;
}

text {
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  fill: black;
  font-weight: 900;
  letter-spacing: 0.8rem;
  font-variant: small-caps;
  text-transform: capitalize;
}

.description {
  position: absolute;
  top: 60%;
  font-weight: 900;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  margin-left: 1rem;
  z-index: 1;
  font-size: 1.5rem;
  width: 20%;
}
