.container {
  position: absolute;
  margin: 0;
}
circle {
  fill: coral;
  stroke: black;
  stroke-width: 3;
}

circle active {
  fill: coral;
  stroke: black;
  stroke-width: 3;
  pointer-events: none;
}

.lastCircle {
  fill: burlywood;
}
