.container {
  display: flex;
  position: relative;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

ul li {
  display: inline-flex;
  padding: 0.3rem;
}

ul li a:hover {
  color: aliceblue;
}

ul li a {
  list-style: none;
  font-size: 2rem;
  list-style-type: none;
  color: black;
  text-decoration: none;
}
