.container {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  padding-top: 45rem;
  border-bottom: 5px solid black;
}

ul li {
  display: inline-flex;
  padding: 0.3rem;
}

ul li a:hover {
  color: aliceblue;
}

ul li a {
  list-style: none;
  font-size: 1.5rem;
  list-style-type: none;
  color: black;
  text-decoration: none;
}
