.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  height: 100%;
  width: 100%;
  border-bottom: 5px solid #000000;
}

.click {
  position: relative;
  z-index: 1;
  font-size: 1rem;
  animation: fadeIn ease-in 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.click2 {
  z-index: 1;
  font-size: 1rem;
  animation: fadeIn ease-in 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
