.container {
  vertical-align: top;

  position: relative;
  padding: 1rem;
  font-weight: 700;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  margin-left: 1rem;
  z-index: 1;
}

.firstName {
  font-size: 3rem;
  float: left;
}

.lastName {
  font-size: 3rem;
  padding-top: 1rem;
}

.description {
  font-size: 1.5rem;
  width: 20%;
  float: initial;
}
