.gridContainer {
}

.techStack {
  font-size: 5rem;
}

.techs {
  font-size: 2.5rem;
}

pre {
  font-weight: bolder;
  font-size: 1.5rem;
  border-bottom: 5px solid #1c6ea4;
  border-radius: 5px 0px 0px 40px;
  background-color: lightgray;
}
