.gridContainer {
  display: flex;
  flex: wrap;
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.techStack {
  flex: auto;
  font-size: 5rem;
  margin-top: 2%;
  margin-left: 2%;
}

.techs {
  flex: wrap;
  margin-right: 5%;
  margin-top: 2%;
  font-size: 2.5rem;
  height: 10%;
}

pre {
  font-weight: bolder;
  font-size: 1.5rem;
  border-bottom: 5px solid #1c6ea4;
  border-radius: 5px 0px 0px 40px;
  background-color: lightgray;
}

.arrow {
  display: flex;
  flex: none;
}
