.container1 {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.button {
  color: lightgray;
  flex: none;
  margin-left: 80%;
  margin-top: 15%;
  font-size: 3rem;
  max-width: 100%;
  text-decoration: none;
}

h3 {
  color: lightgray;
  flex: none;
  margin-left: 80%;
  margin-top: 15%;
  font-size: 3rem;
  width: 80%;
}

.contact {
  font-size: 5rem;
  flex: none;
  margin-left: 5%;
  margin-top: 15%;
}

.arrow {
  flex: none;
}
