.container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 5px solid #000000;
}

.contactMe {
  flex-wrap: wrap;
}
.contact {
  padding-left: 1rem;
  font-size: 3rem;
}

.stanger {
  display: flex;
  color: blanchedalmond;
  padding-left: 6rem;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  color: cornsilk;
  font-family: 'Oswald', sans-serif;
}

.links :hover {
  color: coral;
}

.links :active {
  text-decoration: none;
  list-style: none;
}

.downloadButton {
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
}
.downloadButton a {
  display: flex;
  margin: 0;
  align-items: center;
}
.myButton {
  border-radius: 5px;
  border: 4px solid #000000;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: cornsilk;
  font-family: 'Oswald', sans-serif, bold;
  font-size: 3rem;
  letter-spacing: 10px;
  text-decoration: none;
}
.myButton:hover {
  background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color: #6c7c7c;
}
.myButton:active {
  top: 1px;
}

.topArrow img {
  display: inline-block;
  justify-content: center;
  max-width: 5%;
  margin-left: 10%;
}

.arrow h3 {
  color: coral;
  font-size: 5rem;
  text-decoration: none;
  cursor: pointer;
}

.arrow h3 :active {
  color: coral;
  font-size: 5rem;
  text-decoration: none;
}
