.header {
  background-color: coral;
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#headerList {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#headerList li {
  display: inline;
}

.backToTop {
  position: absolute;
  right: 400px;
  top: 400px;
}
