.container {
  height: 100vh;
  width: 100%;
  display: flex;
  border-top: 5px solid black;
  border-bottom: 5px solid #000000;
  background-color: blanchedalmond;
  font-family: 'Raleway', sans-serif;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: content-box;
  justify-content: space-around;
  align-items: center;
}

.aboutMeBox {
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  margin: 5% 0% 0% 5%;
}
.text {
  font-size: 1.5rem;
  width: 25%;
  padding-bottom: 10%;

  /* -webkit-animation: text 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: text 0.75s cubic-bezier(0.47, 0, 0.745, 0.715) both; */
}

.profile {
  display: inline-block;
  width: 20%;
}
.profile img {
  max-width: 100%;
  border-radius: 50%;
  transition: ease-in-out 1s;
  transform: scale(1.1);
}

.text2 {
  font-size: 1.5rem;
  width: 50%;
  /* -webkit-animation: text 0.75s cubic-bezier(0.6, 0, 0.9, 0.97) both;
  animation: text 0.75s cubic-bezier(0.6, 0, 0.9, 0.97) both; */
}

/* @-webkit-keyframes image {
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  0% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes image {
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  0% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@-webkit-keyframes container2 {
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  0% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}
@keyframes container2 {
  100% {
    -webkit-filter: blur(0.01);
    filter: blur(0.01);
  }
  0% {
    -webkit-filter: blur(12px) opacity(0%);
    filter: blur(12px) opacity(0%);
  }
}

@-webkit-keyframes aboutMeBox {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes aboutMeBox {
  0% {
    -webkit-transform: scaleX(2);
    transform: scaleX(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
} */
