.polygon1 {
  fill: brown;
  stroke: black;
  stroke-width: 3px;
  animation: hideshow 4s ease infinite;
  overflow: hidden;
}
@keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.polygon2 {
  fill: brown;
  stroke: black;
  stroke-width: 3px;
  animation: hideshow 6s ease infinite;
}
@keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.polygon3 {
  fill: brown;
  stroke: black;
  stroke-width: 3px;
  animation: hideshow 8s ease infinite;
}
@keyframes hideshow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
